[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
feedparser = "*"
celery = "*"
django-celery = "*"
django-celery-beat = "*"
publisher = "*"
eventlet = "*"
gevent = "*"

[requires]
python_version = "3.5"
